body{
    background-color: #F7F8FC;
}

.container{
    display: flex;
    justify-content: center;
    /* flex-basis: 50%; */
    background-color: #F7F8FC;
    align-items: center;
    /* margin: 7em; */
}

.media-player{
    /* padding: 30px; */
    background-color: white;
    /* gap: 1em; */
}

.media-player p{
    font-weight: 2px;
}

.media-player i{
    margin-top: 1em;
    /* display: flex; */
}

.media-player-text{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.margin-0{
    margin: 0;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}


.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header-text-name{
    text-align: center;
}


.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

}

.controls-thumbnail{
    display: flex;
    justify-content: center;
}

.player-controls{
    display: flex;
    justify-content: space-evenly;
}

#file{
    color: grey;
    display: flex;
    flex-basis: 90%;
}

.music-app-song-name{
    display: flex;
    justify-content: space-between;
}

.music-app-song-name p{
    color: grey;
}

.music-app-song-name-now-playing{
    display: flex;
    justify-content: space-between;
}

.song-list{
    display: flex;
    flex-direction: column;

}

.music-app-song-name-now-playing p{
    font-weight: 800;
}


.progress-bar-time{
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;

}

.controls-progress-bar{
    display: flex;
    flex-direction: column;
}

.progress-bar{
    display: flex;
    justify-content: center;
    /* margin-left: 1em; */
}

.progress-bar-time p{
    color: grey;
}